body {
    font-family: 'Motiva Sans', 'Noto Sans', -apple-system, sans-serif;
    font-size: 1.275em;
    background: var(--colour-white);
    @media (--screen-sm) {
        font-size: 1.275em;
        background: var(--colour-white);
    }
    @media (--screen-md) {
        font-size: 1.4rem;
        background: var(--colour-white);
    }
    @media (--screen-lg) {
        font-size: 1.6rem;
        background: var(--colour-white);
    }
}
