:root {
    --colour-text-primary: #333;
    --colour-text-secondary: #9c9c9c;
    --colour-link-primary: #39a6de;
    --colour-grey: #7c7c7c;
    --colour-grey-light: #d8d8d8;
    --colour-grey-extralight: #efefef;
}