---
layout: default.hbs
title: Michael Pereira - Data Journalist and Developer
---

<section class="section section__cv">

    <h2>>Skills and Experience</h2>
    <ul>
        <li>research, data analysis, and reporting (internal and published) for investigative stories</li>
        <li>design of static graphic elements accompanying stories in print, app, mobile web, and social</li>
        <li>design and development of interactive multimedia elements accompanying stories</li>
        <li>strategy and development of chat bots for Facebook and Twitter</li>
        <li>development of scraper agents for one-off stories and ongoing projects</li>
        <li>planning and development of workflows and tools for the reporting phase</li>
        <li>planning and development of newsroom tools and training including: Chart Tool, Table d'hôte, Style Book, Map Builder</li>
        <li>design and implementation of research including survey design and analytics</li>
        <li>proficient in CSS, HTML, JavaScript, Python, R, and SQL languages</li>
        <li>database design and deployment (MongoDB, MySQL, PostgreSQL)</li>
        <li>proficient with geographic information systems (GIS) including QGIS and ArcGIS</li>
        <li>experienced with deployments to AWS, Heroku, and Digital Ocean</li>
        <li>proficient in office suites  (Google, Microsoft, OpenOffice)</li>
        <li>proficient in design suites (Adobe Photoshop, Illustrator, Sketch)</li>
    </ul>


    <h2>Awards and Recognition</h2>
    <ul>
        <li>Michener Award - 2017</li>
        <li>The Al Neuharth Innovation in Investigative Journalism - 2017</li>
        <li>CAJ - 2016</li>
        <li>Canadian Screen Awards - 2014</li>
        <li>Canadian Medical Association - Media Award for Health Reporting 2014</li>
        <li>CAJ Online Media - 2013</li>
        <li>Ryerson Review of Journalism - Best Interactive Features - 2013</li>
    </ul>



    <h4 class="job__title">Interactive Editor</h4>
    <h5>The Globe and Mail ::: April 2015 - July 2019</h5>

    <h6>Notable projects</h6>
    * Unfounded: Will the police believe you? (three part series)
    * Cut off: How Veterans Affairs’ clawback on medical marijuana threw a community off-kilter
    * A Killer High: Fentanyl’s deadly path


    <h4 class="job__title">News Developer</h4>
    <h5>CBC ::: January 2011 - April 2015</h5>

    <h6>Notable projects
    * Canadian pipeline incidents
    * Missing and Murdered Indigenous Women
    * the fifth estate's Rate My Hospital project
    * Multiple municipal, provincial, and federal elections


    <h4 class="job__title">Web Developer and Associate Communications Editor</h4>
    <h5>Greenpeace Canada ::: 2007 - March 2009</h5>


    <h4 class="job__title">Information Architect</h4>
    <h5>Canadian Mental Health Association, Knowledge Centre ::: 2006 - August 2007</h5>


    <h4 class="job__title">Developer</h4>
    <h5>McGill University ::: 2003 - March 2006</h5>


</section>
