---
layout: default.hbs
title: Michael Pereira - data journalist and developer
---

<section class="section">
    <article class="intro">
        <p>
            Using tools to tell stories.
        </p>
        <p>
            I analyze and extract key insights from data to create maps and charts and meaningful interactives. Sometimes I build bots that gather information and others that can chat. I write code using Javascript, Python and R. Sometimes I thinker and build physical hardware. <a href="#section-featured-projects">Check out some of my work</a>. Occasionally I teach or talk about data and visual journalism. I also contribute to a few open source projects.
        </p>
        <p>
            <strong>Interested in working together?  Drop me a
            <a href="https://twitter.com/messages/compose?recipient_id=15193273" class="twitter-dm-button" data-screen-name="@__m_pereira">DM</a>
            or
            <a href="mailto:hello@monkeycycle.org">email</a></strong>.
        </p>

    </article>
</section>

<section class="section">
    {{> project-list}}
</section>

