---
layout: default.hbs
title: Michael Pereira - data journalist and developer
---

<div class="section">
    {{!-- <div class="grid-col grid-col-xl-4"> --}}
        <article class="bio">
            <p>
                Building and using tools to tell stories.
            </p>
            <p>
                I write code using Javascript, Python and R. I create maps and charts and meaningful interactives. Sometimes I build bots that gather information and others that can chat.  <a href="#section-featured-projects">Check out some of my work</a>. Occasionally I teach or talk about data and visual journalism. I also contribute to a few open source projects.
            </p>
            <p>
                <strong>Interested in working together?  Drop me a
                    <a href="https://twitter.com/messages/compose?recipient_id=15193273"
  class="twitter-dm-button" data-screen-name="@__m_pereira">DM</a>
                     or <a href="mailto:hello@monkeycycle.org">email</a></strong>.
            </p>

        </article>
    {{!-- </div> --}}
</div>

<section class="section">
    {{> project-list}}
</section>

{{> external-links}}

