<aside class="section">
    <h3>Elsewhere</h3>
    <nav class="ext-link-nav">
        <span class="ext-link-nav-item"><a href="{{data.links.twitter}}">Twitter</a></span>
        <span class="ext-link-nav-item"><a href="{{data.links.instagram}}">Instagram</a></span>
    </nav>
</aside>
