<footer class="section footer">
    <p class="footer-copyright">
        <small>
            <a href="http://monkeycycle.org">monkeycycle</a> &copy; Michael Pereira {{date "now" "YYYY"}}
        </small></p>
</footer>
