<footer class="section footer">
    <p class="footer-copyright">
        <small>
            <a href="http://monkeycycle.org">monkeycycle</a> &copy; Michael Pereira {{date "now" "YYYY"}}
        </small></p>
    <nav class="ext-link-nav">
        <span class="ext-link-nav-item"><a href="{{data.links.twitter}}" target="new">Twitter</a></span>
        <span class="ext-link-nav-item"><a href="{{data.links.instagram}}" target="new">Instagram</a></span>
        <span class="ext-link-nav-item"><a href="{{data.links.github}}" target="new">Github</a></span>
    </nav>
</footer>
