<header class="header">

    <div class="header-logo">
        <picture>
            {{!-- <source srcset="/assets/img/monkeycycle-logo-100x100.webp" type="image/webp"> --}}
            <img class="icon header-profile-img" src="/assets/img/monkeycycle.gif" alt="Profile image" itemprop="image" width="110" height="125" />
        </picture>
    </div>

    <div class="header-nameplate">
        <h1 class="header-title" itemprop="name">Michael Pereira</h1>
        <h3 class="header-tagline" itemprop="tagline">Data journalist and developer</h3>
    </div>
</header>
