---
layout: cv.hbs
title: Michael Pereira - Curriculum Vitae - Data Journalist and Developer
---

<section class="section section_cv">

    <h3>Skills &amp; Experience</h3>

    <ul>
        <li>Research, data analysis, and reporting (internal and published) for investigative stories</li>
        <li>Planning and development of workflows and reporting tools</li>
        <li>Design and implementation of research including survey design and analytics</li>
        <li>Development of scraper agents for one-off stories and ongoing projects</li>
        <li>Planning, filing, tracking and extracting information and data from freedom-of-information responses</li>
        <li>Planning and development of newsroom tools and related training including:
            <ul><li>startr, Chart Tool, Table d'hôte, Style Book, Map Builder</li></ul>
        </li>
    </ul>

    <hr />

    <ul>
        <li>Design and development of interactive multimedia elements accompanying stories</li>
        <li>Design of static graphic elements accompanying stories in print, app, mobile web, and social</li>
        <li>Strategy and development of chat bots for Facebook and Twitter</li>
    </ul>

    <hr />

    <ul>
        <li>Proficient with geographic information systems (GIS) including QGIS and ArcGIS</li>
        <li>Database design and deployment (PostgreSQL, MySQL, MongoDB)</li>
        <li>Proficient in CSS, HTML, JavaScript, Python, R, and SQL</li>
        <li>Experienced with deployments to AWS, Heroku, and Digital Ocean</li>
        <li>Proficient in design suites (Adobe Photoshop, Illustrator, Sketch)</li>
        <li>Proficient in office suites  (Google, Microsoft, OpenOffice) </li>
    </ul>

</section>

<section class="section section_cv">
    <h3>Awards and Recognition</h3>
    <ul>
        <li>Michener Award (2018): <i>Unfounded </i></li>
        <li>The Al Neuharth Innovation in Investigative Journalism (2017):  <i>Unfounded </i></li>
        <li>CAJ McGillivray Award and Data Journalism Award (2017): <i>Unfounded </i></li>
        <li>CAJ Open Media (2016): <i>A Killer High: Fentanyl’s deadly path </i></li>
        <li>CAJ Don McGillivray Award for investigative journalism (2016): <i>Missing & Murdered </i></li>
        <li>Canadian Hillman Prize (2016): <i>Missing &amp; Murdered </i></li>
        <li>Canadian Screen Awards (2014): <i>Rate my hospital </i></li>
        <li>Canadian Medical Association - Media Award for Health Reporting (2014): <i>Rate my hospital </i></li>
        <li>CAJ Online Media (2013): <i>Pipeline incidents </i></li>
        <li>Ryerson Review of Journalism - Best Interactive Features (2013): <i>Pipeline incidents </i></li>
    </ul>
</section>

<section class="section section_cv">

    <h3>Employment History</h3>

    <div class="cv_job">

    <h4 class="job_title">Multimedia Editor</h4>
    <h5 class="job_place_time">Winnipeg Free Press ::: October 2019 - Present</h5>

    <h6  class="job_projects">Notable projects</h6>
    <ul>
        <li>Research, analysis, graphics and writing throughout the COVID-19 pandemic</li>
        <li>Research and production of daily news graphics</li>
    </ul>
    </div>

    <div class="cv_job">

    <h4 class="job_title">Interactive Editor</h4>
    <h5 class="job_place_time">The Globe and Mail ::: April 2015 - July 2019</h5>

    <h6  class="job_projects">Notable projects</h6>
    <ul>
    <li>Unfounded: Will the police believe you? (three part series)</li>
    <li>Cut off: How Veterans Affairs’ clawback on medical marijuana threw a community off-kilter</li>
    <li>A Killer High: Fentanyl’s deadly path</li>
    </ul>
    </div>

    <div class="cv_job">

    <h4 class="job_title">News Developer</h4>
    <h5 class="job_place_time">CBC ::: January 2011 - April 2015</h5>

    <h6  class="job_projects">Notable projects</h6>
    <ul>
        <li>Canadian pipeline incidents</li>
        <li>Missing and Murdered Indigenous Women</li>
        <li>the fifth estate's Rate My Hospital project</li>
        <li>Multiple municipal, provincial, and federal elections</li>
        <li>Summer and winter Olympics</li>
    </ul>
    </div>

    <div class="cv_job">

        <h4 class="job_title">Web Developer and Associate Communications Editor</h4>
        <h5 class="job_place_time">Greenpeace Canada ::: 2007 - March 2009</h5>
    </div>

    <div class="cv_job">

        <h4 class="job_title">Information Architect</h4>
        <h5 class="job_place_time">Canadian Mental Health Association, Knowledge Centre ::: 2006 - August 2007</h5>
    </div>

    <div class="cv_job">

        <h4 class="job_title">Developer</h4>
        <h5 class="job_place_time">McGill University ::: 2003 - March 2006</h5>
    </div>






</section>
