                                                .card {
                                                    position: relative;
                                                    display: inline-block;
                                                    float: left;
                                                    width: 100%;
                                                    padding: 1.5em 0;
                                                    border-bottom: 1px solid var(--colour-grey-extralight);
                                                    &>p {
                                                        margin-bottom: 0;
                                                    }
                                                    & h1 {
                                                        color: var(--colour-text-secondary);
                                                        text-transform: uppercase;
                                                    }
                                                }

                                                .card-leadviz {
                                                    display: inline-block;
                                                    float: left;
                                                    min-width: 300px;
                                                    width: 25%;
                                                    height: 300px;
                                                    margin-right: 1em;
                                                    overflow: hidden !important;
                                                }

                                                .card-leadviz--image {
                                                    display: inline-block;
                                                    float: left;
                                                    width: 100%;
                                                    height: auto;
                                                }

                                                .card-metadata {
                                                    display: inline-block;
                                                    float: left;
                                                }

                                                .card-heading {
                                                    line-height: 1.4;
                                                    transition: color .2s;
                                                    text-transform: uppercase;
                                                }

                                                .card-metadata p {
                                                    font-size: .9rem;
                                                }
