*>*>*>*>*>* {
    background-color: #666 !important;
    border-color: #666 !important;
}

*>*>*>*>* {
    background-color: #555 !important;
    border-color: #555 !important;
}

*>*>*>* {
    background-color: #444 !important;
    border-color: #444 !important;
}

*>*>* {
    background-color: #333 !important;
    border-color: #333 !important;
}

*>* {
    background-color: #222 !important;
    border-color: #222 !important;
}

* {
    background-color: #111 !important;
    background-image: none !important;
    border-color: #111 !important;
    color: #fff !important;
}