.ext-link-nav {
    color: var(--colour-link-primary);
    font-size: .8rem;
    line-height: 1.4;
}

.ext-link-nav:hover {
    color: var(--colour-link-secondary);
}

.ext-link-nav-item:not(:last-child):after {
    margin: 0 .5em;
    content: '|';
    color: var(--colour-grey-light);
}
