.header {
    font-size: 1.25em;
    width: 100%;
    padding-top: 60px;

    @media (--screen-sm) {

    }
    @media (--screen-md) {
    
    }
    @media (--screen-lg) {
    
    }    
}

.header-logo {
    display: block;
    float: left;
    width: 25%;
    height: auto;
    @media (--screen-sm) {

    }
    @media (--screen-md) {

    }
    @media (--screen-lg) {

    }

}

.header-nameplate {
    display: block;
    float: right;
    width: 70%;
    height: 100%;
    padding-top: 0px;
    @media (--screen-sm) {
        padding-top: 20px;
    }
    @media (--screen-md) {
        padding-top: 40px;
    }
    @media (--screen-lg) {
        padding-top: 50px;
    }
}

.header-profile-img {
    display: block;
    margin-top: -.05em;
    margin-right: .5em;
    border-radius: .5em;
    background: var(--colour-white);
    font-size: 2em;
    vertical-align: middle;
}

.header-title {
    display: inline-block;
    float: left;
    text-align: left;
    margin: 0;
    font-size: 1.4rem;
    color: var(--colour-text-primary);
    @media (--screen-sm) {
        font-size: 1.2rem;        
    }
    @media (--screen-md) {

    }
    @media (--screen-lg) {
        font-size: 1.8rem;
    }    
}

.header-tagline {
    display: inline-block;
    float: left;
    text-align: left;
    margin: .4rem 0 0 0;
    font-size: .7rem;
    text-transform: uppercase;
    color: var(--colour-grey);

    @media (--screen-sm) {
        
    }
    @media (--screen-md) {

    }
    @media (--screen-lg) {
        padding-top: .1rem;
        font-size: 1.3rem;
    }  

}