.header {
    margin-top: 0;
    padding-top: 80px;
    font-size: 1.25em;
    @media (--screen-sm) {
        padding-top: 100px;
    }
    @media (--screen-md) {
        padding-top: 100px;
    }
}

.header-profile-img {
    display: inline-block;
    margin-top: -.05em;
    margin-right: .5em;
    border-radius: .5em;
    background: #eee;
    font-size: 2em;
    vertical-align: middle;
}

.header-title {
    display: inline-block;
    margin: 0;
    font-size: 1.4em;
    color: var(--colour-grey);
    vertical-align: middle;
}

.header-tagline {
    display: inline-block;
    margin: .4em 0 0 .2em;
    font-size: .9em;
    color: var(--colour-text-secondary);
    vertical-align: middle;
}