.header {
    margin-top: 0;
    padding-top: 60px;
    font-size: 1.25em;
    @media (--screen-sm) {
        padding-top: 60px;
    }
    @media (--screen-md) {
        padding-top: 60px;
    }
}

.header-profile-img {
    display: inline-block;
    margin-top: -.05em;
    margin-right: .5em;
    border-radius: .5em;
    background: #eee;
    font-size: 2em;
    vertical-align: middle;
}

.header-title {
    display: inline-block;
    margin: 0;
    font-size: 1.3em;
    color: var(--colour-text-primary);
    vertical-align: middle;
}

.header-tagline {
    display: inline-block;
    margin: .2em 0 0 .5em;
    font-size: 1em;
    color: var(--colour-text-secondary);
    vertical-align: middle;
}