                                            .bio p {
                                                font-size: 1.2em;
                                                line-height: 1.6;
                                                color: var(--colour-text-secondary);
                                                @media (--screen-md) {
                                                    font-size: 1.6em;
                                                    line-height: 1.8;
                                                }
                                            }