                                            .bio p {
                                                font-size: 1.1rem;
                                                font-weight: 200;
                                                line-height: 1.4;
                                                color: var(--colour-text-secondary);
                                                @media (--screen-md) {
                                                    font-size: 1.4em;
                                                    line-height: 1.6;
                                                }
                                            }