.intro p {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.5;
    color: var(--colour-text-secondary);
    @media (--screen-md) {
        font-size: 1.3em;
        line-height: 1.5;
    }
}
